body, html{
    height: 100%;
    margin: 0;
    padding: 0;
    
}
.container-main{ 
    background-image: url("img/fondo_1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.row{
    margin: 0;
    padding: 0;
}
.content-principal{
    width: 70%;
    height: 70%;
    border: 1px solid #ffffff;
}
.instant-txt{
    display: flex;
    align-items: center;
    font-size: 4rem;
    color: #03BDD2;
}
.instant-txt img{
    width: 5rem;
    height: 5rem;
}
span{
    top: 0;
    font-size: 53px;
}
.principal-l{
    background-color: rgba(256, 256, 256, 0.2);
    
}